@page
@model PRN221_E_Commerce_Website.Pages.Admin.Category.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "../Shared/_Layout";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.ID">Edit</a> |
    <a asp-page="./Category">Back to List</a>
</div>
